{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2>Clientes</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Data de Nascimento</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Email</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for cliente in clientes %}
          <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.data_de_nascimento }}</td>
            <td>{{ cliente.cpf }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>{{ cliente.email }}</td>
            <td>
              <a href="{{ url_for('editar_cliente', cliente_id=cliente.id) }}" class="btn btn-sm btn-warning">Editar</a>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{{ url_for('novo_cliente') }}" class="btn btn-primary">Adicionar Cliente</a>
  </div>
{% endblock %} 