{% extends 'client.html' %}

{% block content %}
    <h2>Editar Cliente</h2>
    <style>
        input[type="text"], input[type="email"], input[type="date"] {
            width: 450px;  /* Adjust as needed */
        }
    </style>
    <form method="POST">
        <label for="name">Nome:</label>
        <input type="text" name="name" value="{{ client.name }}" required>
        <br>
        <label for="birthday">Data de Nascimento:</label>
        <input type="date" name="birthday" value="{{ client.birthday }}" required>
        <br>
        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" value="{{ client.cpf }}" required>
        <br>
        <label for="phone">Telefone:</label>
        <input type="text" name="phone" value="{{ client.phone }}" required>
        <br>
        <label for="address">Endereço:</label>
        <input type="text" name="address" value="{{ client.address }}" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" value="{{ client.email }}" required>
        <br>
        <input type="submit" value="Salvar">
    </form>
    {% if error %}
    <script type="text/javascript">
        alert("{{ error }}");
    </script>
    {% endif %}
{% endblock %}
