{% extends "client.html" %}

{% block content %}
    <h2>Editar Cliente</h2>
    <form action="{{ url_for('update_client', client_id=client.id) }}" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" value="{{ client.name }}" required><br><br>

        <label for="birthday">Data de Nascimento:</label>
        <input type="date" id="birthday" name="birthday" value="{{ client.birthday }}" required><br><br>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" value="{{ client.cpf }}" required><br><br>

        <label for="phone">Telefone:</label>
        <input type="text" id="phone" name="phone" value="{{ client.phone }}" required><br><br>

        <label for="address">Endereço:</label>
        <input type="text" id="address" name="address" value="{{ client.address }}" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ client.email }}" required><br><br>

        <input type="submit" value="Atualizar">
    </form>
{% endblock %}
