{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2 class="text-center mb-4">Lista de Clientes</h2>
    <a href="/client_new" class="btn btn-primary mb-4">Adicionar Novo Cliente</a>
    <table class="table table-bordered">

      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Data de Nascimento</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Email</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for client in clients %}
          <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.name }}</td>
            <td>{{ client.birthday }}</td>
            <td>{{ client.cpf }}</td>
            <td>{{ format_phone_number(client.phone) }}</td>
            <td>{{ client.email }}</td>
            <td>
              <a href="{{ url_for('client_edit', client_id=client.id) }}" class="btn btn-custom btn-sm rounded-pill">Editar</a>
              <a href="#" class="btn btn-custom btn-sm rounded-pill delete-btn" data-id="{{ client.id }}">Excluir</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script>
    $(document).ready(function() {
      console.log("JavaScript is running!");
      $('.delete-btn').on('click', function(e) {
        e.preventDefault();

        var btn = $(this);
        var clientId = btn.data('id');

        console.log("Button clicked, client ID: " + clientId);

        if (btn.hasClass('btn-confirm')) {
          window.location.href = "/delete_client/" + clientId;
        } else {
          btn.addClass('btn-confirm').text('! Excluir !');
        }
      });
    });
  </script>

{% endblock %}
